

 .yellow-bar {
    background-color: rgb(255, 204, 0);
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 24px;
    color: black;
    font-weight: bold;
  }


  .yellow-bar-buttons {
    display: flex;
  }

  .yellow-bar-button {
    margin-left: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
  }

  .yellow-bar-button:hover {
    background-color: white;
    color: black;
  }

  body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
  }
  h1, h2 {
    color: black;
    margin: 0;
  }
  h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
  }
  h2 {
    font-size: 36px;
    text-align: center;
  }
  p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 20px;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #2e86c1;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .btn:hover {
    background-color: #1b4f72;
  }

  div.pictures:hover img,
  div.pictures:hover background {
  filter: brightness(80%); /* reduce the brightness of the image and label */
}

  div.lable{
    text-align: center;
    padding: 25px;
  }

div.pictures{
  width: 212px;
  margin-left: 40px;
  margin-right: auto;
  text-align: center;
  float: left;
  
  width: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
  margin-right: 25px;
  position: relative;
    
  }

  a{
    display:block;
    text-decoration: none;
    color: inherit;
  }

  a:hover{
    text-decoration: none;
    color: inherit;
  }


.image{
  
  float:right;
  
}

.footer{
  margin-top: 150px;
  width:70%;
  padding: 100px 15%;
  background-color: black;
  color:rgb(255, 204, 0);
  display: flex;
}

.footer div{
  text-align: center;
}

.col-2{
  flex-grow: 2;
}

.footer div h3{
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.col-1 a{
  display: block;
  text-decoration: none;
  color:rgb(255, 204, 0);
  margin-bottom: 10px;
}

form input{
  width: 400px;
  height: 45px;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

form button{
background: transparent;
border: 2px solid #fff;
color: #fff;
border-radius: 30px;
padding: 10px 30px;
font-size: 15px;
cursor: pointer;
}

.card-info {
  border-radius: 10px;
}